IOS/EasyVideoRecorderDemo/EasyVideoRecorderDemo.xcodeproj/xcuserdata/tsinglink.xcuserdatad/xcschemes/EasyVideoRecorderDemo.xcscheme

IOS/EasyVideoRecorderDemo/EasyVideoRecorderDemo.xcodeproj/xcuserdata/tsinglink.xcuserdatad/xcschemes/xcschememanagement.plist

IOS/EasyVideoRecorderDemo/.DS_Store

