<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.easydarwin.video.demo"
    android:versionCode="2"
    android:versionName="2.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="22" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.autofocus" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- bugly -->

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <application
        android:name="org.easydarwin.video.demo.App"
        android:enabled="true"
        android:icon="@drawable/logo2"
        android:label="EasyVideo"
        android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        <activity
            android:name="org.easydarwin.video.demo.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.easydarwin.video.demo.StartActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="org.easydarwin.video.demo.VideoPlayActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="org.easydarwin.video.demo.DownloadFilterActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="org.easydarwin.video.demo.DownloadFilterActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- EasyVideoRecorderLib start -->
        <activity
            android:name="org.easydarwin.video.recoder.activity.VideoRecorderActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <!-- EasyVideoRecorderLib end -->


        <!-- EasyVideoRenderLib start -->
        <activity
            android:name="org.easydarwin.video.render.activity.VideoRenderActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <!-- EasyVideoRenderLib end -->

    </application>

</manifest>